
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ### Primary

- Red: hsl(0, 100%, 74%) 
- Green: hsl(154, 59%, 51%)

### Accent

- Blue: hsl(248, 32%, 49%)

### Neutral

- Dark Blue: hsl(249, 10%, 26%) 
- Grayish Blue: hsl(246, 25%, 77%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 500, 600, 700 */

/*---- body ----*/

body{
    font-family: 'Poppins', sans-serif;
    color: white;
}

.main {
    background-image: url(./images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%) ;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: column;
}


.title, .form{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    
}

.right{
    margin-left: 15em;
    
}

/*------ left side -----*/

h1{
    font-size: 3.5em;
    font-weight: 700;
}

.text{
    font-size: 1.2em;
    font-weight: 400;
} 

/*---- right side -----*/

.banner{
    background-color: hsl(248, 32%, 49%);
    height: 4em;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.4);
    
}

.banner p{
    font-size:1.2em;
    font-weight: 200;
}


.left {
    height: 80%
}

#form{
    background-color: white;
    height: 80%;
    margin-top: 3em;
    border-radius: 10px;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.4);
}

input{
    display: block;
    margin: 5em;
    width:80%;
    line-height: 5em;
    border:none;
    font-size: 0.7em;
    padding-left: 2em;
}

button {
    overflow: hidden;
    margin-left: 3em;
    width:80%;
    height: 3em;
    background-color: hsl(154, 59%, 51%);
    border-radius: 10px;
    color: white;
    font-size: 1.2em
}


input::placeholder{
    color: hsl(249, 10%, 26%) ;
    font-size: 1.5em;
    text-transform: capitalize;
    font-weight:600;
    padding-left: 2em;
}



small{
    display: block;
    color:hsl(246, 25%, 77%);
    margin-left:8em;
   
}

span{
    color:hsl(0, 100%, 74%)
}

input:focus{
    outline: 2px solid hsl(246, 25%, 77%);
}








